* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
  }
  
  body{
    background: rgb(230, 230, 230);
  }

  header{
    background: #03a9f4;
    text-align: center;
  }
  
  .logo{
    color: #fff;
    font-size: 40px;
  }

  input{
    height: 22px;
  }